 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-shape-1 {
  height: 365px;
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  margin: -330px auto 0 53px;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 3rem;
  margin: 81px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 197px;
  margin-bottom: 60px;
}

.u-block-b28d-13 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-weight: 700;
}

.u-block-b28d-40 {
  height: 46px;
}